
@model List<ShopBanDoGiaDung.Models.Danhmucsanpham>
@{
    var id_category = ViewBag.idCategory ;
}
<div class=" top-nav rsidebar span_1_of_left">
    <h3 class="cate">DANH MỤC</h3>
    <ul class="menu">
       
        @foreach (var item in Model)
        {

            if(id_category == item.MaDanhMuc){
               <ul style="background-color:#1DBAA5;" class="kid-menu ">
                <li><a href="@Url.Action("SPDanhMuc","Home", new { idCategory = item.MaDanhMuc, ten = item.TenDanhMuc})">@item.TenDanhMuc</a></li>
               
                </ul>
            }else{
               <ul class="kid-menu ">
                <li><a href="@Url.Action("SPDanhMuc","Home", new { idCategory = item.MaDanhMuc, ten = item.TenDanhMuc})">@item.TenDanhMuc</a></li>
               
               </ul>
            }
           
        }

    </ul>
</div>
